extends layout
block content
    form(action='/room/create', method="post")
        div.field
            label.label Room Name
            div.control
                input.input(type='text', name='name', placeholder='Name')
        if hasTwitchConnection
            div.field
                label.label Twitch Cloned Stream (Optional)
                div.control
                    input.input(type='text', name='twitchClone', placeholder='Twitch Cloned Stream')
        button.button.is-primary(type='submit') Submit