html
    head
        title Auto TTS
        link(rel='stylesheet', href='/assets/styles/main.css', type='text/css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block styles
    body
        div.section#body-content
            block content
        block scripts
        script
            include datadog.js