extends layout
block content
    if error
        div.notification.is-danger.is-light #{error}
    form(action='/login', method='post')
        div.field
            label.label User Name
            div.control
                input.input(type='text', name='username', placeholder='User Name')
        if to
            input(type='hidden', name='to', value=`${to}`)
        button.button.is-primary(type='submit') Login