extends layout
block content
    if roomMissing
        div.modal.is-active
            div.modal-background
            div.modal-content
                div.modal-card
                    div.modal-card-body
                        h3.title This room doesn't exist yet
                        form(action='/room/create', method='post')
                            input(type='hidden', value=title, name='roomName')
                            button.button.is-primary(type='submit') Click here to create it
    h1.title.some-style #{title}&nbsp;
        span.icon
            a(href=`/room/${id}/edit`).fas.fa-edit
    div.section.is-flex-direction-column.is-flex-grow-1
        div.box#chat-messages
            each message in messages
                p.chat-message
                    span.message-timestamp #{message.created}
                    b.author #{message.author}:&nbsp;
                    span.message-content #{message.message}
        form(onsubmit='AutoTTS.sendMessage()', action="javascript:void(0)")
            div.field.has-addons#chat-input
                div.control.is-flex-grow-1
                    input.input(placeholder="Message", id="input-message", autocomplete='off', disabled)
                div.control
                    button.button.is-primary(type='submit', disabled) Send


block scripts
    script(src="/assets/scripts/room.js")
    script(src="https://kit.fontawesome.com/fec4f9ba42.js", crossorigin="anonymous")


block styles
    link(href='/assets/styles/room.css', rel='stylesheet', type='text/css')
