extends layout
block content
    div.columns.is-multiline
        each room in rooms
            a.card.column(href=`/room/${room.id}`)
                header.card-header
                    p.card-header-title(style="white-space:nowrap;") #{room.name}
